<h2>All the times it took place:</h2>
<% @occurrences.each do |occurrence| %>
<div class="each-occurrence">
  <div class="occurrence-note">
    <h2><%= occurrence.note %></h2>
  </div>
  <div class="occurrence-time">
    <p><%= occurrence.updated_at.strftime("%Y-%m-%d") %></p>
    
  </div>

</div>

<% end %>
<h3><%= link_to "<< Back to Habits", :back %></h3>
