<div class="index-wrap">
  <header>
    <p class="header animated zoomIn">Habits</p>
    <div class="new-habit animated zoomIn">
      <%= link_to "(+)", new_habit_path, class: "btn-header" %>
    </div>
  </header>
  
  <main>
    <% @habits.each do |habit| %>
    <div class="each-habit animated zoomIn">
      <div class="habit-name">
        <h3> <%= link_to "#{habit.name}", habit_path(habit), class: "btn" %> </h3>
      </div>
      <div class="habit-occurrence">
        <%= link_to "(+)", new_habit_occurrence_path(habit), class: "btn" %>
      </div>
    </div>

    <% end %>
  </main>
</div>
